{% include 'base.html' %}

{% block contend %}
<h1 align="center">
    Products PagE
</h1>
<hr>

<div>
    <table border="2" align="center" cellspacing="5px" cellpadding="5px">
        <tr>
            <th>NAME</th>
            <th>PRICE</th>
            <th>STOCK</th>
            <th>IMAGE</th>
            <th>EDIT</th>
        </tr>
        {% for i in obj %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.stock }}</td>
                <td><img src="{{ i.image }}" height="50px" width="50px"></td>
                <td><input type="submit" value="update"><input type="submit" value="delete"></td>
                
            </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}